#scrollview-container {
    white-space: nowrap;
}

#scrollview-container > ul {
    width: 100%;
}

#scrollview-container > ul > li {
    white-space: normal;
    width: 100%;
    display: inline-block;
    background-color: white;
}