.zed-river-content {
    white-space: nowrap;
    background-color: #333;
}

.zed-river-content > ul {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.zed-river-content > ul > li {
    background-color: #333;
    white-space: normal;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}